<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- Config Sections -->
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <!-- NLog -->
  <nlog autoReload="true">
    
    <extensions>
      <add assembly="NLog.Extensions.AzureTableStorage"/>
    </extensions>

    <variable name="logDirectory" value="${basedir}/Logs" />

    <targets>
      <target name="fileTarget" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="File" fileName="${logDirectory}/Log.txt" layout="${level:uppercase=true} | ${date:format=HH\:mm\:ss} | ${logger} | ${message} ${onexception:| ${exception:format=tostring}}" archiveNumbering="Date" archiveFileName="${logDirectory}/Log.{#}.txt" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" />
      </target>
      <target name="consoleTarget" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="Console" layout="${level:uppercase=true} | ${date:format=HH\:mm\:ss} | ${logger} | ${message} ${onexception:| ${exception:format=Message}}" />
      </target>
      <target name="debuggerTarget" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="Debugger" layout="${level:uppercase=true} | ${date:format=HH\:mm\:ss} | ${logger} | ${message} ${onexception:| ${exception:format=Message}}" />
      </target>
      <target name="traceTarget" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="Trace" layout="${level:uppercase=true} | ${date:format=HH\:mm\:ss} | ${logger} | ${message} ${onexception:| ${exception:format=Message}}" />
      </target>
      <target name="azureTarget" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target type="AzureTableStorage" connectionStringKey="AzureStorageConnectionString" tableName="logs" />
      </target>
    </targets>

    <rules>
      <logger name="LeagueRecorder.*" minLevel="INFO" writeTo="azureTarget" />
    </rules>

  </nlog>
  
  <!-- System.Diagnostics -->
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <!-- Runtime -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>